# Lab 01 - NDAWN

## Importing Packages

In [73]:
import requests
import io
import zipfile
import pandas as pd
import os

In [150]:
ndawn_home = "https://ndawn.ndsu.nodak.edu/table.csv"

In [165]:
all_params = {
    'station' : '78',
    'variable' : 'ddmxt',
    'year' : '2022',
    'ttype' : 'daily',
    'quick_pick' : '30_d',
    'begin_date': '2022-09-01'
}

In [166]:
rqst_objct = requests.get(ndawn_home, params=all_params)

with open('MaxTemp.csv', 'w') as newCSV_txt:
    newCSV_txt.write(rqst_objct.content.decode('utf-8'))

In [167]:
max_temp = pd.read_csv('MaxTemp.csv', skiprows = 3)
max_temp.head()

                                                                   Flag Definition Line: M - Missing; E - Estimated; N/A - Not Available
Station Name Latitude Longitude Elevation Year Month Day Max Temp                                       Max Temp Flag
NaN          deg      deg       ft        NaN  NaN   NaN Degrees F                                                NaN
Ada          47.32119 -96.51406 910       2022 09    07  81.284                                                   NaN
                                                     08  82.922                                                   NaN
                                                     09  70.052                                                   NaN